################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CBAnalyzer/.vs/CBAnsDes/FileContentIndex
